body {
  margin: 0;
font-family: 'Quicksand', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trasparent {
  background: transparent;
}

.hideOpacity {
  opacity: 0;
}

.showOpacity {
  opacity: 1;
}

.no-border {
  border: none;
}

.footer {
  width: 100%;
  height: 125px;
  margin-top: 75px;
  text-align: center;
  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}
